:root {
    --primary: #007bff;
    --lightprimary: #0056b3;
    --white: #ffffff;
    --silver: #bcbcbc9e;
    --defaultLinkColor: #333;
    --yellow: #FFD700;
    --muted: #777777;
    --whiteBG: #F8FAFC;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.contenair {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

/* la premiére section */

li {
    list-style: none;
    display: inline-block;

}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: var(--muted);
}

a:hover {
    color: #007bff;
}

button {
    border: 1px solid white;
    color: white;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}





/* navbar */

.premiersection {
    margin-top: 20px;
    height: 90vh;
}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    height: 90px;
}

nav,
img {
    margin-left: 80px;
}

nav {
    position: absolute;
    right: 100px;
}

li,
#btn1 {
    margin: 20px;
}

#ligne {
    position: absolute;
    border-bottom: 1px solid var(--muted);
    width: 87%;
    left: 130px;
    margin-top: -10px;

}

/* 
main */
.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
    margin-top: 20px;
}

span {
    color: var(--yellow);
}

h1,
span {
    font-weight: bold;
    font-size: 60px;

}

#btn3 {
    margin-left: 50px;
    border: 1px solid var(--muted);
    color: var(--muted);
    background-color: var(--whiteBG);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 25%;
}

#btn2 {
    border: 1px solid var(--primary);
    color: var(--whiteBG);
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 25%;
}


/* service part */
.service {
    display: flex;
    background-color: var(--primary);
    padding: 20px;
    height: 200px;
    /* justify-content: space-evenly; */
    align-items: center;
}

.text {
    margin-right: 200px;
    color: var(--white);
    position: absolute;
    left: 150px;
    font-size: 25px;
}

.text h2 {
    font-size: 45px;
    font-weight: 400;
}

.phrase {
    color: var(--whiteBG);
    font-size: medium;
    font-weight: 200;
}

.service .contener {
    display: flex;
    position: absolute;
    right: 150px;


}

#call,
#p {
    color: var(--muted);
    font-size: 15px;
    margin: 3px;

}

#call {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--whiteBG);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

#call img {
    margin: 0 auto;
    opacity: 0, 5;
    margin: 10px;

}

/* 
partie provide */

.separe {
    display: flex;
}

.checkout {
    display: flex;
    /* margin-top: 50px; */
    margin-bottom: 50px;
    position: relative;
}

.checkout .class-img {
    width: 32%;
    background-color: var(--whiteBG);
    height: 40vh;
    border-bottom-right-radius: 50px;
    padding-top: 80px;
}

.ctn {
    width: 65%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 500px;
    top: 100px;
    font-size: 20px;
    color: var(--defaultLinkColor);
}

/* 
part special */

.special {
    display: flex;
    flex-direction: column;
}

.divtitle {
    width: 80%;
    margin-left: 10%;
    line-height: 1px;
}


.divtitle::after {
    margin-left: 25%;
    position: absolute;
    content: "";
    padding: 1px;
    transform: translateY(-45px);
    left: 0;
    width: 65%;
    background-color: var(--muted);
}


.divtitle p {
    margin-bottom: 5px;
}

.divtitle1 {
    display: flex;
    justify-content: space-between;
}

.divtitle1 p {
    display: flex;
    width: 80%;
    justify-content: end;
    /* border-bottom: 1px solid black; */
}

.divtitle p {
    font-size: 50px;
    font-weight: bold;
}

.divtitle1 p {
    font-size: xx-large;
    font-weight: bold;
}

.contenerimage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    align-items: stretch;
    gap: 40px;
    border-left: 1px solid var(--silver);

    /* margin: 50px, 0px; */

}


.Doctor img {
    margin: 0;
}

.Doctor {
    border: 1px solid var(--silver);
    background-color: #F8FAFC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: 40px; */
    /* width: 20%; */
    padding: 15px;
}


.classDoctor {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



/* la deuxieme partie bleu  */


.parableu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    height: 20vh;
    /* width: 100%; */
    flex-direction: column;
    padding: 90px;
    /* margin-right: 90px; */
    text-align: center;

}


.gras {
    font-weight: bold;
    font-size: xx-large;
    color: var(--white);
    font-size: 50px;
}


.parableu p {
    color: var(--white);
    font-size: 12px;

}

.parableu h2 {
    font-size: 30px;
    font-weight: 400;
    color: var(--white);
}

.parableu button {
    font-weight: 200;
    margin: 10px;
    padding: 20px;
    width: 15%;
    cursor: pointer;
}

/* qui somme nous  */

.secial2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}


.title2 {
    display: flex;
    justify-content: center;
}

#who .secial2 img {
    width: 80%;

}

#who .parent {
    display: flex;
    justify-content: space-around;
    align-content: center;
}


.para2 h3 {
    color: var(--defaultLinkColor);
    font-size: 20px;
    font-weight: bold
}


#who .para2 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 30vh;
    width: 25%;
    background-color: var(--whiteBG);
    color: var(--muted);
}

.secial2 .title2 {
    display: flex;
    justify-content: space-between;
}

hr {
    width: 400%;
}

.weare p span {
    color: var(--yellow);

}

.title2 p {
    font-size: 50px;
    font-weight: bold;
}

.title2 span {
    color: black;
    font-weight: bold;
}

.history {
    text-align: right;
}

/* section docteur  */



.special3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;

}


.montitre {
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    gap: 100px;
    margin-left: 5%;
    margin-top: 20px;

}


.montitre div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


.montitre img {
    margin: 0;
}

.montitre button {
    border: 1px solid var(--lightprimary);
    color: var(--lightprimary);
    background-color: var(--white);
    font-weight: lighter;
    width: 80%;
    cursor: pointer;
}



.montitre p {
    font-weight: lighter;
    font-size: 13px;
    margin-top: 10px;

}

.client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: var(--primary);
}


.clientstar {
    display: flex;
    justify-content: space-between;
    width: 80%;


}

.clientl {
    display: flex;
    width: 20%;
    padding: 5px;
    background-color: var(--white);
    height: 350px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientl img {
    margin: 0;
}

.clientr {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: var(--white);
}


.montitre h5 {
    margin-bottom: 0px;
}

.montitre p {
    line-height: 20px;
}

.troispoint {
    display: flex;
    justify-content: center;
}


.mespoint {
    width: 12px;
    height: 12px;
    background-color: var(--silver);
    border-radius: 50%;
    margin: 12px;
}



/* la partie en formulaire */

.titleform {
    display: flex;
    justify-content: space-between;
}

.titre1 {
    font-weight: bold;
    font-size: 50px;
    position: relative;
    width: 100%;
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
    margin-top: 80px;

}

.titre2 span {
    font-size: 60px;
    font-weight: bold;
    color: var(--defaultLinkColor);
}

.titre2 {
    font-weight: bold;
    font-size: 40px;
}

.titre1::after {
    position: absolute;
    content: "";
    padding: 1px;
    margin-top: 60px;
    left: 0;
    width: 110%;
    background-color: var(--muted);

}

#opt {
    position: absolute;
    width: 60px;
    margin-top: 25px;
    height: 25px;
    border: none;
    margin-left: 15px;
}

#opt:focus {
    outline: none;
}

.formular {
    display: flex;
    flex-wrap: wrap;

}

.gestion {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 20px;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 7px;
    border: 1px var(--silver) solid;
}

select {
    height: 30px;
    width: 250px;
    border-radius: 7px;
    border: 1px var(--silver) solid;
}

.checkbox {
    width: 15px;
    height: 15px;
}

.button button {
    margin-top: 15px;
    cursor: pointer;
}

textarea {
    width: 520px;
    margin-bottom: 10px;
    height: 100px;
    border-radius: 7px;
    border: 1px var(--silver) solid;
    resize: none;
}

.gestion .tel {
    position: relative;
    padding-left: 80px;
    width: 150px;
}

.formright {
    width: 600px;
    height: 500px;
    margin-left: 70px;
    padding: 40px;
    padding-top: 60px;
}

.formright button {
    width: 520px;
    cursor: pointer;
}

.formleft img {
    height: 500px;
}

#formulaire {
    display: flex;
    justify-content: space-around;
}


/* subscribe  */

.sectioncentre {
    display: flex;
    background-color: var(--silver);
    height: 50vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sectionin {
    display: flex;
    height: 30vh;
    background-color: #216583;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 15px;
    flex-direction: column;
}

.sectionin h3 {
    font-size: 30px;
    color: #f8fafc;

}

.btnin {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.btnin button {
    background-color: #6393a8;
}

.btnin button {
    background-color: var(--whiteBG);
    color: var(--muted);
    cursor: pointer;
}

.btnin input {
    background-color: #6393a8;
    margin: 10px;
}

input ::placeholder {
    color: var(--white);
}




/* 
footer */

.fotter {
    display: flex;
    background-color: var(--primary);
    width: 100%;
    justify-content: center;
}

.visite {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    color: var(--whiteBG);
    margin: 20px 80px;

}

.fotter1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    place-content: center;
    text-align: center;
    border-right: 1px solid var(--silver);
}
.fotter-last {
    display: flex;
    flex-direction: column;
    width: 400px;
    place-content: center;
    text-align: center; 
}

.fotter1 img {
    filter: brightness(0) invert(1);
}


.fotter1 a {
    color: var(--whiteBG);
}

.partigras h6 {
    font-size: 30px;

}

.lien {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


footer {
    display: flex;
    padding: 10px;
    color: var(--whiteBG);
    background-color: var(--lightprimary);
    justify-content: center;
    align-items: center;
}